.contact-us-parent {
    display: flex;
    /* flex-direction: column; */
    height: 40rem;
    background-color: #000;
    justify-content: space-between;
}

.section-1 {
    width: 50%;
    height: 100%;
    position: relative;

}

.section-2 {
    /* flex: 1; */
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px; */
    width: 50%;
    /* padding: 80px */
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-img {
    position: absolute;
    right: 0;
    height: 100%;
    width: 100%;
}

.input-field {
    height: 5%;
    width: 100%;
    outline: none;
    background-color: #222222;
    border: none;
    color: #7b7b7b;
}

.input-field:focus {
    color: #fff;
}

.input-field-text-area {
    height: 25%;
}

form {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    align-items: center;
    padding-top: 5rem;
}

.submit-btn {
    height: 10%;
    width: 30%;
    outline: none;
    background-color: #222222;
    border: none;
    color: #fff;
    border-radius: 20px;

}

.title-lab {
    font-size: 2rem;
    color: #fff;
}

.input-field:-webkit-autofill {
    background-color: #222222 !important;
    color: white !important;
    /* Force white text */
    font-family: inherit !important;
    -webkit-text-fill-color: white !important;
    /* Crucial for autofill text */
    transition: background-color 5000s ease-in-out 0s;
}

/* Firefox Autofill Styling */
.input-field:-moz-autofill {
    background-color: #222222 !important;
    color: white !important;
}

/* Autofilled Field on Focus */
.input-field:-webkit-autofill:focus,
.input-field:-moz-autofill:focus {
    border: 2px solid #FFD43B;
    border-radius: 4px;
    color: white !important;
    -webkit-text-fill-color: white !important;
}


.input-field:-webkit-autofill:not(:focus) {
    -webkit-text-fill-color: #7b7b7b !important;
    background-color: #222222 !important;
}

.input-field:-moz-autofill:not(:focus) {
    color: #7b7b7b !important;
}

@media (min-width: 1900px) and (max-width: 2000px) {
    .section-img {
        width: 70%;
        right: 10%;
    }

    .input-field {
        height: 7%;
    }

    .input-field-text-area {
        height: 23%;
    }
}

@media (min-width: 800px) and (max-width: 900px) {
    .submit-btn {
        width: 60%;
    }
}

@media (min-width: 500px) and (max-width: 600px) {
    .contact-us-parent {
        height: 52rem;
        flex-direction: column;
    }

    .section-1 {
        height: 40%;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .section-2 {
        height: 62%;
        width: 100%;
    }

    .section-img {
        right: auto;
        width: 55%;
    }

    .submit-btn {
        width: 50%;
    }

    .input-field {
        height: 7%;
    }

    .input-field-text-area {
        height: 20%;
    }

    form {
        gap: 7px;
        padding-top: 0;
    }
}

@media (min-width: 400px) and (max-width: 500px) {
    .card-parent {
        gap: 20px;
    }

    .icon-parent {
        height: 25%;
        width: 25%;
    }

    .title {
        font-size: 1rem;
    }

    .contact-us-parent {
        height: 52rem;
        flex-direction: column;
    }

    .section-1 {
        height: 40%;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .section-2 {
        height: 62%;
        width: 100%;
    }

    .section-img {
        right: auto;
        width: 75%;
    }

    .submit-btn {
        width: 50%;
    }

    .input-field {
        height: 7%;
    }

    .input-field-text-area {
        height: 20%;
    }

    form {
        gap: 7px;
        padding-top: 0;
    }

}

@media (min-width: 300px) and (max-width: 400px) {
    .card-parent {
        gap: 20px;
    }

    .icon-parent {
        height: 25%;
        width: 25%;
    }

    .title {
        font-size: 1.3rem;
    }

    .contact-us-parent {
        height: 52rem;
        flex-direction: column;
    }

    .section-1 {
        height: 40%;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .section-2 {
        height: 62%;
        width: 100%;
    }

    .section-img {
        right: auto;
    }

    .submit-btn {
        width: 50%;
    }

    .input-field {
        height: 7%;
    }

    .input-field-text-area {
        height: 20%;
    }

    form {
        gap: 7px;
        padding-top: 0;
    }
}